@mixin elg{
    @media (min-width: 1200px){
      @content;
    }
  }
  
  
  @mixin lg{
    @media (min-width: 992px) and (max-width: 1199.98px){
      @content;
    }
  }
  
  @mixin md{
    @media (min-width: 768px) and (max-width: 991.98px){
      @content;
    }
  }
  
  @mixin sm{
    @media (min-width: 576px) and (max-width: 767.98px){
      @content;
    }
  }
  
  @mixin esm{
    @media (max-width: 767.98px){
      @content;
    }
  }
  
  $border-radius : 5px;
  $border-radius-rounded : 100px;
  $transition : all ease 300ms;
